@model SCM.Models.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Device</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plane" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlaneID" class="form-control" asp-items="ViewBag.PlaneID">
                    <option value="">-- Select Plane --</option>
                </select>
                <span asp-validation-for="PlaneID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
