
@{
    ViewData["Title"] = "DeviceDeleted";
}

<h2>Device Deleted</h2>

@if (@ViewData["DeviceDeletedMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["DeviceDeletedMessage"]</div>
}

<a asp-action="GetAll">Back to List</a>
