@model SCM.Models.ViewModels.TenantNetworkViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantNetwork/GetAllByTenantID/@Model.TenantID">Networks - [@ViewBag.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.IpPrefix/@Model.Length]</li>
</ol>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantNetworkID" />
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="IpPrefix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpPrefix" class="form-control" />
                <span asp-validation-for="IpPrefix" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Length" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AllowExtranet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AllowExtranet" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" tenantID="@Context.Request.Query["tenantID"]"  class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
