@model SCM.Models.ViewModels.VpnTenantCommunityViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/VpnAttachmentSet/GetAllByVpnID/@ViewBag.VpnAttachmentSet.Vpn.VpnID">VPN Attachment Sets</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantCommunity/GetAllByVpnAttachmentSetID/@ViewBag.VpnAttachmentSet.VpnAttachmentSetID">VPN Tenant Communities</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>


<h2>Add a Tenant Community to VPN '@ViewBag.VpnAttachmentSet.Vpn.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="VpnAttachmentSetID" value="@ViewBag.VpnAttachmentSet.VpnAttachmentSetID" />
        <div class="form-group">
            <label asp-for="TenantCommunity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantCommunityID" class="form-control" asp-items="ViewBag.TenantCommunityID">
                    <option value="">-- Select Tenant Community --</option>
                </select>
                <span asp-validation-for="TenantCommunityID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByVpnAttachmentSetID" asp-route-id="@ViewBag.VpnAttachmentSet.VpnAttachmentSetID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
