@model SCM.Models.ViewModels.VpnTenantCommunityViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Tenant Community for VPN @ViewBag.VpnAttachmentSet.Vpn.Name</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="VpnTenantCommunityID" />
        <input type="hidden" asp-for="VpnAttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="TenantCommunity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantCommunityID" class="form-control" asp-items="ViewBag.TenantCommunityID">
                    <option value="">-- Select Tenant Community --</option>
                </select>
                <span asp-validation-for="TenantCommunityID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByVpnAttachmentSetID" asp-route-id="@Model.VpnAttachmentSetID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
