@model SCM.Models.ViewModels.RegionViewModel

@{
    ViewData["Title"] = "CreateStep1";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Attachment Set</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RegionID" class="form-control" asp-items="ViewBag.RegionID">
                    <option value="">-- Select Region --</option>
                </select>
                <span asp-validation-for="RegionID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" asp-controller="AttachmentSet" asp-action="CreateStep2" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Vpn" asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
