@model SCM.Models.ViewModels.RouteTargetViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="RouteTargetID" />
        <input type="hidden" asp-for="VpnID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="AdministratorSubField" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AdministratorSubField" class="form-control" />
                <span asp-validation-for="AdministratorSubField" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssignedNumberSubField" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssignedNumberSubField" class="form-control" />
                <span asp-validation-for="AssignedNumberSubField" class="text-danger"></span>
            </div>
        </div>
@if (ViewBag.Vpn.VpnTopologyType.TopologyType == "Hub-and-Spoke")
{
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsHubExport" />
                    <label asp-for="IsHubExport"></label>
                </div>
            </div>
        </div>
}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByVpnID" asp-route-id ="@Model.VpnID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
