
@{
    ViewData["Title"] = "Attachment Deleted";
}

<h2>Attachment Deleted</h2>

@if (@ViewData["AttachmentDeletedMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["AttachmentDeletedMessage"]</div>
}

<a asp-action="GetAllByTenantID" asp-controller="Attachment" asp-route-id="@ViewContext.HttpContext.Request.Query["TenantID"]">Back to List</a>