@model SCM.Models.ViewModels.AttachmentRequestViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Tenant.TenantID">Attachments</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>


<h2>Create Attachment for Tenant '@ViewBag.Tenant.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantID" value="@ViewBag.Tenant.TenantID" />
        <div class="form-group">
            <label asp-for="Region" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RegionID" class="form-control" asp-items="ViewBag.RegionID">
                    <option value="">-- Select Region --</option>
                </select>
                <span asp-validation-for="RegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubRegion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SubRegionID" class="form-control" asp-items="ViewBag.SubRegionID">
                    <option value="">-- Select Sub-Region --</option>
                </select>
                <span asp-validation-for="SubRegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plane" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlaneID" class="form-control" asp-items="ViewBag.PlaneID">
                    <option value="">-- Optionally Select a Plane --</option>
                </select>
                <span asp-validation-for="PlaneID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BandwidthID" class="form-control" asp-items="ViewBag.BandwidthID">
                    <option value="">-- Select a Bandwidth --</option>
                </select>
                <span asp-validation-for="BandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractBandwidthPool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthPoolID" class="form-control" asp-items="ViewBag.ContractBandwidthPoolID">
                    <option value="">Select Contract Bandwidth Pool</option>
                </select>
                <span asp-validation-for="ContractBandwidthPoolID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BundleRequired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BundleRequired" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MultiPortRequired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MultiPortRequired" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsTagged" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsTagged" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsLayer3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsLayer3" class="checkbox" />
            </div>
        </div>
        <div id="L3Components1">
            <div class="form-group">
                <label asp-for="IpAddress1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress1" class="form-control" />
                    <span asp-validation-for="IpAddress1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask1" class="form-control" />
                    <span asp-validation-for="SubnetMask1" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="L3Components2">
            <div class="form-group">
                <label asp-for="IpAddress2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress2" class="form-control" />
                    <span asp-validation-for="IpAddress2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask2" class="form-control" />
                    <span asp-validation-for="SubnetMask2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="L3Components4">
            <div class="form-group">
                <label asp-for="IpAddress3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress3" class="form-control" />
                    <span asp-validation-for="IpAddress3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask3" class="form-control" />
                    <span asp-validation-for="SubnetMask3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IpAddress4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress4" class="form-control" />
                    <span asp-validation-for="IpAddress4" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask4" class="form-control" />
                    <span asp-validation-for="SubnetMask4" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@ViewBag.Tenant.TenantID">Back to Attachments List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            var $region = $('#RegionID'),
            region = $region[0],
            $subregion = $('#SubRegionID'),
            subregion = $subregion[0],
            $location = $('#LocationID'),
            location = $location[0],
            $bandwidth = $('#BandwidthID'),
            bandwidth = $bandwidth[0],
            $isLayer3 = $('#IsLayer3'),
            isLayer3 = $isLayer3[0],
            $isTagged = $('#IsTagged'),
            isTagged = $isTagged[0],
            $bundleRequired = $('#BundleRequired'),
            bundleRequired = $bundleRequired[0],
            $multiPortRequired = $('#MultiPortRequired'),
            multiPortRequired = $multiPortRequired[0],
            $contractBandwidthPool = $('#ContractBandwidthPoolID'),
            contractBandwidthPool = $contractBandwidthPool[0],
            $l3Components1 = $('#L3Components1'),
            $l3Components2 = $('#L3Components2'),
            $l3Components4 = $('#L3Components4');

            if (location.value == null || location.value == "" || region.value == null || region.value == "") {

                subregion.disabled = true;
                location.disabled = true;
            }

            if (isTagged.checked) {

                contractBandwidthPool.disabled = true;
            }

            showHideL3Components();

            $region.on('change', function (e) {

                var regionID = this.value;

                if (regionID == null || regionID == "") {

                    subregion.selectedIndex = 0;
                    subregion.disabled = true;
                    location.selectedIndex = 0;
                    location.disabled = true;
                }
                else {

                    subregion.disabled = false;
                    location.selectedIndex = 0;
                    location.disabled = true;

                    PopulateHtmlFromUrl($subregion, "/Attachment/SubRegions", {id : regionID });
                }
            });

            $subregion.on('change', function (e) {

                var subRegionID = this.value;
                location.disabled = false;

                PopulateHtmlFromUrl($location, "/Attachment/Locations", { id: subRegionID });
            });

            $isLayer3.on('click', function (e) {

                var isLayer3Checked = this.checked;
                showHideL3Components();

                if (isLayer3Checked) {

                    contractBandwidthPool.disabled = false;
                    isTagged.checked = false;
                }
            });

            $isTagged.on('click', function (e) {

                var isTaggedChecked = this.checked;

                if (isTaggedChecked) {

                    isLayer3.checked = false;
                    showHideL3Components();
                    contractBandwidthPool.selectedIndex = 0;
                    contractBandwidthPool.disabled = true;
                }
                else {

                    contractBandwidthPool.disabled = false;
                }
            });

            $multiPortRequired.on('click', function (e) {

                bundleRequired.checked = false;
                showHideL3Components();
            });

            $bundleRequired.on('click', function (e) {

                multiPortRequired.checked = false;
                showHideL3Components();
            });

            $bandwidth.on('change', function (e) {

                showHideL3Components();
            });

            function PopulateHtmlFromUrl($e, url, data) {

                $.get(url, data)
                .done(function (data) {
                    $e.html(data);
                });
            }

            function showHideL3Components() {

                $l3Components1.fadeOut();
                $l3Components2.fadeOut();
                $l3Components4.fadeOut();

                if (!isLayer3.checked) {

                   return;
                }

                $l3Components1.fadeIn();

                var selectedBandwith = bandwidth.options[bandwidth.selectedIndex].text;

                if (multiPortRequired.checked) {

                    if (selectedBandwith == "20") {

                        $l3Components2.fadeIn();
                    }
                    else if (selectedBandwith == "40") {

                        $l3Components2.fadeIn();
                        $l3Components4.fadeIn();
                    }
                }
            }

        }(jQuery));
    
    </script>
}