@model SCM.Models.ViewModels.AttachmentRequestViewModel

@{
    ViewData["Title"] = "Create";
}


<h2>Create Attachment for Tenant @ViewBag.Tenant.Name</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantID" value="@ViewBag.Tenant.TenantID" />
        <div class="form-group">
            <label asp-for="Region" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RegionID" class="form-control" asp-items="ViewBag.RegionID">
                    <option value="">-- Select Region --</option>
                </select>
                <span asp-validation-for="RegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubRegion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SubRegionID" class="form-control" asp-items="ViewBag.SubRegionID">
                    <option value="">-- Select Sub-Region --</option>
                </select>
                <span asp-validation-for="SubRegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plane" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlaneID" class="form-control" asp-items="ViewBag.PlaneID">
                    <option value="">-- Optionally Select a Plane --</option>
                </select>
                <span asp-validation-for="PlaneID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BandwidthID" class="form-control" asp-items="ViewBag.BandwidthID">
                    <option value="">-- Select a Bandwidth --</option>
                </select>
                <span asp-validation-for="BandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BundleRequired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BundleRequired" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsLayer3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsLayer3" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsTagged" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsTagged" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractBandwidthPool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthPoolID" class="form-control" asp-items="ViewBag.ContractBandwidthPoolID">
                    <option value="">Select Contract Bandwidth Pool</option>
                </select>
                <span asp-validation-for="ContractBandwidthPoolID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VrfName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VrfName" class="form-control" />
                <span asp-validation-for="VrfName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VrfAdministratorSubField" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VrfAdministratorSubField" class="form-control" />
                <span asp-validation-for="VrfAdministratorSubField" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VrfAssignedNumberSubField" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VrfAssignedNumberSubField" class="form-control" />
                <span asp-validation-for="VrfAssignedNumberSubField" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubnetMask" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubnetMask" class="form-control" />
                <span asp-validation-for="SubnetMask" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@ViewBag.Tenant.TenantID">Back to Attachments List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            var $region = $('#RegionID'),
            region = $region[0],
            $subregion = $('#SubRegionID'),
            subregion = $subregion[0],
            $location = $('#LocationID'),
            location = $location[0],
            $isLayer3 = $('#IsLayer3'),
            isLayer3 = $isLayer3[0],
            $ipAddress = $('#IpAddress'),
            ipAddress = $ipAddress[0],
            $subnetMask = $('#SubnetMask'),
            subnetMask = $subnetMask[0],
            $isTagged = $('#IsTagged'),
            isTagged = $isTagged[0],
            $vrfName = $('#VrfName'),
            vrfName = $vrfName[0],
            $vrfAdminSubField = $('#VrfAdministratorSubField'),
            vrfAdminSubField = $vrfAdminSubField[0],
            $vrfAssignedNumberSubField = $('#VrfAssignedNumberSubField'),
            vrfAssignedNumberSubField = $vrfAssignedNumberSubField[0],
            $contractBandwidthPool = $('#ContractBandwidthPoolID'),
            contractBandwidthPool = $contractBandwidthPool[0];

            if (location.value == null || location.value == "" || region.value == null || region.value == "") {

                subregion.disabled = true;
                location.disabled = true;
            }

            if (!isLayer3.checked) {

                ipAddress.disabled = true;
                subnetMask.disabled = true;
                vrfName.disabled = true;
                vrfAdminSubField.disabled = true;
                vrfAssignedNumberSubField.disabled = true;
            }

            if (isTagged.checked) {

                contractBandwidthPool.disabled = true;
            }

            $region.on('change', function (e) {

                var regionID = this.value;

                if (regionID == null || regionID == "") {

                    subregion.selectedIndex = 0;
                    subregion.disabled = true;
                    location.selectedIndex = 0;
                    location.disabled = true;
                }
                else {

                    subregion.disabled = false;
                    location.selectedIndex = 0;
                    location.disabled = true;

                    $.get("/Attachment/SubRegions", { id: regionID })
                    .done(function (data) {
                        $subregion.html(data);
                    });
                }
            });

            $subregion.on('change', function (e) {

                var subRegionID = this.value;
                location.disabled = false;

                $.get("/Attachment/Locations", { id: subRegionID })
                .done(function (data) {
                    $location.html(data);
                });
            });

            $isLayer3.on('click', function (e) {

                var isLayer3Checked = this.checked;
                ipAddress.disabled = !isLayer3Checked;
                subnetMask.disabled = !isLayer3Checked;
                vrfName.disabled = !isLayer3Checked;
                vrfAdminSubField.disabled = !isLayer3Checked;
                vrfAssignedNumberSubField.disabled = !isLayer3Checked;

                if (isLayer3Checked) {

                    contractBandwidthPool.disabled = false;
                    isTagged.checked = false;
                }
                else
                {
                    ipAddress.value = null;
                    subnetMask.value = null;
                    vrfName.value = null;
                    vrfAdminSubField.value = null;
                    vrfAssignedNumberSubField.value = null;
                }
            });

            $isTagged.on('click', function (e) {

                var isTaggedChecked = this.checked;
                if (isTaggedChecked) {
                    isLayer3.checked = false;
                    ipAddress.value = null;
                    subnetMask.value = null;
                    vrfName.value = null;
                    vrfAdminSubField.value = null;
                    vrfAssignedNumberSubField.value = null;
                    ipAddress.disabled = true;
                    subnetMask.disabled = true;
                    vrfName.disabled = true;
                    vrfAdminSubField.disabled = true;
                    vrfAssignedNumberSubField.disabled = true;
                    contractBandwidthPool.selectedIndex = 0;
                    contractBandwidthPool.disabled = true;
                }
                else {
                    contractBandwidthPool.disabled = false;
                }
            });

        }(jQuery));
    
    </script>
}