@model IEnumerable<SCM.Models.ViewModels.LocationViewModel>

<option value="">-- Select Location --</option>

@foreach (var item in Model)
{
    <option value="@item.LocationID">@item.SiteName</option>
}
