@model SCM.Models.ViewModels.VpnViewModel

@{
    ViewData["Title"] = "CreateStep2";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>VPN</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Region" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RegionID" class="form-control" asp-items="ViewBag.RegionID">
                    <option value="">-- Optionally Select Region --</option>
                </select>
                <span asp-validation-for="RegionID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plane" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlaneID" class="form-control" asp-items="ViewBag.PlaneID">
                    <option value="">-- Optionally Select Plane --</option>
                </select>
                <span asp-validation-for="PlaneID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VpnTenancyType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VpnTenancyTypeID" class="form-control" asp-items="ViewBag.VpnTenancyTypeID">
                    <option value="">-- Select Tenancy Type --</option>
                </select>
                <span asp-validation-for="VpnTenancyTypeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VpnTopologyType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VpnTopologyTypeID" class="form-control" asp-items="ViewBag.VpnTopologyTypeID">
                    <option value="">-- Select Topology Type --</option>
                </select>
                <span asp-validation-for="VpnTopologyTypeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tenant" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantID" class="form-control" asp-items="ViewBag.TenantID">
                    <option value="">-- Select Tenant --</option>
                </select>
                <span asp-validation-for="TenantID" class="text-danger"></span>
            </div>
        </div>
@if (ViewBag.VpnProtocolType.ProtocolType == "IP")
{
        <div class="form-group">
            <label asp-for="IsExtranet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsExtranet" class="form-control" />
                <span asp-validation-for="IsExtranet" class="text-danger"></span>
            </div>
        </div>
}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" asp-route-tenantID="@Context.Request.Query["tenantID"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
