
@{
    ViewData["Title"] = "VpnDeleted";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPN</a></li>
    <li class="breadcrumb-item active">VPN Deleted</li>
</ol>

<h2>VPN Deleted</h2>

<p class="text-danger">@ViewData["VpnDeletedMessage"]</p>

<a asp-action="GetAll">Back to List</a>
