@model SCM.Models.ViewModels.BgpPeerViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="VrfID" value="@ViewBag.Vrf.VrfID" />
       
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AutonomousSystem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutonomousSystem" class="form-control" />
                <span asp-validation-for="AutonomousSystem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaximumRoutes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaximumRoutes" class="form-control" />
                <span asp-validation-for="MaximumRoutes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsBfdEnabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsBfdEnabled" class="form-control" />
                <span asp-validation-for="IsBfdEnabled" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="GetAllByVrfID" asp-controller="BgpPeer" asp-route-id="@ViewBag.Vrf.VrfID">Back to BGP Peers List</a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
