@model SCM.Models.ViewModels.BgpPeerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>BGP Peer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="VrfID" />
        <input type="hidden" asp-for="BgpPeerID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AutonomousSystem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutonomousSystem" class="form-control" />
                <span asp-validation-for="AutonomousSystem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaximumRoutes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaximumRoutes" class="form-control" />
                <span asp-validation-for="MaximumRoutes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsBfdEnabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsBfdEnabled" class="form-control" />
                <span asp-validation-for="IsBfdEnabled" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            @if (ViewContext.HttpContext.Request.Query["tenantContext"] == "True")
            { 
                <input type="submit" value="Save" asp-route-tenantContext="True" class="btn btn-default" />
            }
            else
            {

                <input type="submit" value="Save" asp-route-deviceContext="True" class="btn btn-default" />
            }
             </div>
        </div>
    </div>
</form>

<div>
    @if (ViewContext.HttpContext.Request.Query["tenantContext"] == "True")
    {
        <a asp-action="GetAllByVrfID" asp-controller="BgpPeer" asp-route-id="@ViewBag.Vrf.VrfID" asp-route-tenantContext="True">Back to BGP Peers List</a>
    }
    else if (ViewContext.HttpContext.Request.Query["deviceContext"] == "True")
    {
        <a asp-action="GetAllByVrfID" asp-controller="BgpPeer" asp-route-id="@ViewBag.Vrf.VrfID" asp-route-deviceContext="True">Back to BGP Peers List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
