@model SCM.Models.ViewModels.InterfaceVlanViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VlanTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlanTag)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InterfaceVlanID" />
        <input type="hidden" asp-for="InterfaceID" />        
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="GetAllByInterfaceID" asp-route-id="@Model.InterfaceID">Back to List</a>
        </div>
    </form>
</div>
