@model SCM.Models.ViewModels.BgpPeerViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Vif.TenantID">Attachments</a></li>
    <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@ViewBag.Vif.AttachmentID?attachmentIsMultiPort=@ViewBag.Vif.AttachmentIsMultiPort">VIFs</a></li>
    <li class="breadcrumb-item"><a href="/VifBgpPeer/GetAllByVrfID/@ViewBag.Vif.VrfID">BGP Peers</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create BGP Peer for VRF '@ViewBag.Vif.Vrf.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="VrfID" value="@ViewBag.Vif.VrfID" />
       
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AutonomousSystem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutonomousSystem" class="form-control" />
                <span asp-validation-for="AutonomousSystem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaximumRoutes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaximumRoutes" class="form-control" />
                <span asp-validation-for="MaximumRoutes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsBfdEnabled" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsBfdEnabled" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="GetAllByVrfID" asp-route-id="@ViewBag.Vif.VrfID">Back to BGP Peers List</a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
