@model SCM.Models.ViewModels.VpnAttachmentSetViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="VpnAttachmentSetID" />
        <input type="hidden" asp-for="VpnID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="AttachmentSet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AttachmentSetID" class="form-control" asp-items="ViewBag.AttachmentSetID">
                    <option value="">-- Select an Attachment Set --</option>
                </select>
                <span asp-validation-for="AttachmentSetID" class="text-danger"></span>
            </div>
        </div> 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByVpnID" asp-route-id="@ViewBag.Vpn.VpnID">Back to Attachment Sets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
