@model SCM.Models.ViewModels.VifViewModel

@{
    ViewData["Title"] = "VIF Deleted";
}

<h2>VIF Deleted</h2>

@if (@ViewData["VifDeletedMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["VifDeletedMessage"]</div>
}

<a asp-action="GetAllByAttachmentID" asp-controller="Vif" asp-route-id="@Model.AttachmentID" 
   asp-route-attachmentIsMultiPort="@Model.AttachmentIsMultiPort">Back to List</a>