@model SCM.Models.ViewModels.TenantCommunityViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantCommunity/GetAllByTenantID/@Model.TenantID">Communities - [@ViewBag.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.AutonomousSystemNumber:@Model.Number]</li>
</ol>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantCommunityID" />
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="AutonomousSystemNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutonomousSystemNumber" class="form-control" />
                <span asp-validation-for="AutonomousSystemNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="AllowExtranet" data-toggle="tooltip" title="Check to enable the network for Extranet">
                    <label asp-for="AllowExtranet"></label>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
}
