@model SCM.Models.ViewModels.ContractBandwidthPoolViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantID" value="@ViewBag.Tenant.TenantID" />
       
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractBandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthID" class="form-control" asp-items="ViewBag.ContractBandwidthID">
                    <option value="">Select Contract Bandwidth (Mbps)</option>
                </select>
                <span asp-validation-for="ContractBandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrustReceivedCosDscp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TrustReceivedCosDscp" class="form-control" />
                <span asp-validation-for="TrustReceivedCosDscp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@ViewBag.Tenant.TenantID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to List</a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
