@model SCM.Models.ViewModels.ContractBandwidthPoolViewModel

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/ContractBandwidthPool/GetAllByTenantID/@ViewBag.Tenant.TenantID">Contract Bandwidth Pools</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="ContractBandwidthPoolID" />
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractBandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthID" class="form-control" asp-items="ViewBag.ContractBandwidthID">
                    <option value="">Select Contract Bandwidth (Mbps)</option>
                </select>
                <span asp-validation-for="ContractBandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrustReceivedCosDscp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TrustReceivedCosDscp" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@ViewBag.Tenant.TenantID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
