@model SCM.Models.ViewModels.BundleInterfacePortViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="BundleInterfaceID" value="@ViewBag.BundleInterface.BundleInterfaceID" />
        <div class="form-group">
            <label asp-for="Port" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PortID" class="form-control" asp-items="ViewBag.PortID">
                    <option value="">-- Select a Port --</option>
                </select>
                <span asp-validation-for="PortID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByBundleInterfaceID" asp-route-id="@ViewBag.BundleInterface.BundleInterfaceID">Back to Ports</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
