@model SCM.Models.ViewModels.InterfaceViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsTagged" />
                    <label asp-for="IsTagged"></label>
                </div>
                <span asp-validation-for="IsTagged" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsLayer3" />
                    <label asp-for="IsLayer3"></label>
                </div>
                <span asp-validation-for="IsLayer3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IpAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubnetMask" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubnetMask" class="form-control" />
                <span asp-validation-for="SubnetMask" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InterfaceBandwidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InterfaceBandwidthID" class="form-control" asp-items="ViewBag.InterfaceBandwidthID">
                    <option value="">-- Select Interface Bandwidth (Kbps) --</option>
                </select>
                <span asp-validation-for="InterfaceBandwidthID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vrf" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VrfID" class="form-control" asp-items="ViewBag.VrfID">
                    <option value="">-- Optionally select a VRF --</option>
                </select>
                <span asp-validation-for="VrfID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetByPortID" asp-route-id="@ViewBag.Port.ID">Back to Interface</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
